.page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
  color: #737373;
  button {
    padding: 0 2px;
    margin: 0 4px;
  }
  button:disabled {
    display: none;
  }
  button[data-index] {
    color: #525252;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}
