.modal {
  width: 50vw;
  height: 80vh;
  border-radius: 5px;
  background: #fafafa;
  box-shadow: 3px 3px 5px #e5e5e5;
  padding: 40px 32px;
  @media (max-width: 480px) {
    width: 80vw;
  }
}
.image {
  width: 160px;
  height: 240px;
  margin-bottom: 20px;
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
  }
}
.text {
  p {
    padding: 0 8px;
  }
  > div {
    margin-bottom: 8px;
    font-size: 13px;
  }
  hr {
    margin-bottom: 16px;
  }
}
