.notify {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #f1f5f9;
  padding: 12px 16px;
  min-width: 200px;
  border-radius: 5px;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  > button {
    font-size: 13px;
  }
}
